In [1]:
import pandas as pd
import regex as re
import os

## Testing

In [15]:
text = open('data/dimension_20/files/A_Bloom_to_Remember.txt', 'r').read()

In [23]:
data = []
rows = re.split(':', text)
for i in range(len(rows)):
    row = rows[i]
    row = re.split('\n',row)
    data.append([i,row[-1], ''.join(row[:-1])])
# data

## Save D20 Data

In [39]:
file_dir = 'data/dimension_20/files/'
dest_dir = 'data/dimension_20/'
data = []

for filename in os.listdir(file_dir):
    text = open(file_dir+filename, 'r').read()  
    rows = re.split(':', text)
    for i in range(len(rows)):
        row = rows[i]
        row = re.split('\n',row)
        data.append([filename, i,row[-1], ''.join(row[:-1])])

df = pd.DataFrame(data, columns=['episode', 'line', 'char', 'text'])
# df.info()
df.char = df.char.shift(1)
df.drop(0,axis=0, inplace=True)
df.tail()

,episode,line,char,text
318279,The_Kevin_Bacon_of_Crime.txt,457,Brennan,"Oh my God. Gang, this has been Adventuring Pa..."
318280,The_Kevin_Bacon_of_Crime.txt,458,Rekha,"What a terrible episode. I'm just screaming, ..."
318281,The_Kevin_Bacon_of_Crime.txt,459,Brennan,"No, it's... This was great."
318282,The_Kevin_Bacon_of_Crime.txt,460,Katie,We all were. Bye.
318283,The_Kevin_Bacon_of_Crime.txt,461,Brennan,"Goodbye, see you next time, farewell."

In [40]:
df.to_csv(dest_dir+'dimension_20.csv')

## Save Adventure Zone Data

In [41]:
file_dir = 'data/adventure_zone/files/'
dest_dir = 'data/adventure_zone/'
data = []

for filename in os.listdir(file_dir):
    text = open(file_dir+filename, 'r').read()  
    rows = re.split(':', text)
    for i in range(len(rows)):
        row = rows[i]
        row = re.split('\n',row)
        data.append([filename, i,row[-1], ''.join(row[:-1])])

df = pd.DataFrame(data, columns=['episode', 'line', 'char', 'text'])
# df.info()
df.char = df.char.shift(1)
df.drop(0,axis=0, inplace=True)
df.tail()

,episode,line,char,text
139426,TAZ227-Ethersea40-Episode-35.txt,759,Griffin,What usually happens with you when you cast ...
139427,TAZ227-Ethersea40-Episode-35.txt,760,Clint,Usually can se nd like an image into the bea...
139428,TAZ227-Ethersea40-Episode-35.txt,761,Griffin,Okay. Something different happens this time.
139429,TAZ227-Ethersea40-Episode-35.txt,762,Clint,Okay.
139430,TAZ227-Ethersea40-Episode-35.txt,763,Griffin,Your mind is flooded with… a language that d...

In [42]:
df.to_csv(dest_dir+'adventure_zone.csv')

## Save Critical Role Data

In [50]:
file_dir = 'data/critical_role/files/'
dest_dir = 'data/critical_role/'
data = []

for filename in os.listdir(file_dir):
    text = open(file_dir+filename, 'r').read()  
    if text.find('<Part I>'):
        text = ''.join(text.split('<Part I>')[1:])
    rows = re.split(':', text)
    for i in range(len(rows)):
        row = rows[i]
        row = re.split('\n',row)
        data.append([filename, i,row[-1], ''.join(row[:-1])])

df = pd.DataFrame(data, columns=['episode', 'line', 'char', 'text'])
# df.info()
df.char = df.char.shift(1)
df.drop(0,axis=0, inplace=True)
df.head()

,episode,line,char,text
1,The_Echo_Tree.txt,1,MATT,"And welcome back to tonight's episode. So, pi..."
2,The_Echo_Tree.txt,2,LAURA,Yeah.
3,The_Echo_Tree.txt,3,MATT,"It's been a long week. However, you guys have..."
4,The_Echo_Tree.txt,4,LAURA,"Ahh, totally."
5,The_Echo_Tree.txt,5,MATT,Just like that. (laughs) We're all having Gen...

In [51]:
df.to_csv(dest_dir+'critical_role.csv')