In [1]:
import json
import os
import random
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import PCA
from sklearn.decomposition import NMF

In [65]:
dir = 'data/aligned data/c=4'
choice = random.choice(os.listdir(dir))
print(choice)
f = open(dir+'/'+choice)
data = json.load(f)

C2E032_4_3.json

In [66]:
print(data[0].keys())
print(data[5]['TURNS'][0].keys())
# print(data[5]['TURNS'][0]['UTTERANCES'])
# print(' '.join(data[5]['TURNS'][0]['UTTERANCES']))

dict_keys(['CHUNK', 'ALIGNMENT', 'TURNS'])
dict_keys(['NAMES', 'UTTERANCES', 'NUMBER'])

In [67]:
def create_df(data=data):
    list_of_text = []
    for x in data:
        for y in x['TURNS']:
            text = ' '.join(y['UTTERANCES'])
            list_of_text.append(text)
    df = pd.DataFrame(list_of_text)
    return df
df = create_df(data=data)
print(df.shape)
df.head()

(2612, 1)

                                                   0
0  Hello everyone, and welcome to tonight's episo...
1                                 That's what we do!
2                         What's Dungeons & Dragons?
3  You will find out, Liam. He who ran it earlier...
4                                   The Bonegrinder.

In [2]:
def create_df_multi(n):
    list_of_text = []
    dir = 'data/aligned data/c=4'

    for i in range(n):
        choice = random.choice(os.listdir(dir))
        print(choice)
        f = open(dir+'/'+choice)
        data = json.load(f)
        choice = random.choice(os.listdir(dir))
        print(choice)
        f = open(dir+'/'+choice)
        data = json.load(f)

        for x in data:
            for y in x['TURNS']:
                text = ' '.join(y['UTTERANCES'])
                list_of_text.append(text)
    df = pd.DataFrame(list_of_text)
    return df
df = create_df_multi(50)
print(df.shape)
df.head()

C2E001_4_0.json
C1E075_4_3.json
C1E103_4_2.json
C1E035_4_0.json
C1E061_4_1.json
C2E023_4_1.json
C1E102_4_0.json
C2E017_4_0.json
C1E107_4_0.json
C1E068_4_2.json
C1E056_4_2.json
C1E036_4_0.json
C1E011_4_2.json
C1E032_4_0.json
C1E006_4_2.json
C1E002_4_3.json
C1E061_4_3.json
C1E018_4_1.json
C1E091_4_0.json
C1E014_4_2.json
C1E005_4_1.json
C1E073_4_3.json
C2E030_4_1.json
C1E103_4_1.json
C2E005_4_1.json
C1E093_4_0.json
C1E098_4_3.json
C2E043_4_0.json
C1E075_4_1.json
C1E046_4_1.json
C2E030_4_1.json
C1E043_4_2.json
C1E076_4_1.json
C2E033_4_1.json
C2E012_4_3.json
C1E034_4_2.json
C2E016_4_0.json
C2E013_4_2.json
C1E022_4_0.json
C2E031_4_3.json
C1E009_4_0.json
C1E047_4_3.json
C2E002_4_3.json
C1E092_4_2.json
C1E095_4_1.json
C1E063_4_3.json
C1E010_4_2.json
C1E109_4_2.json
C1E010_4_3.json
C2E013_4_2.json
C1E032_4_1.json
C2E014_4_1.json
C1E076_4_2.json
C1E057_4_0.json
C1E031_4_2.json
C1E102_4_3.json
C1E004_4_1.json
C2E012_4_3.json
C1E028_4_0.json
C2E014_4_2.json
C2E039_4_2.json
C2E016_4_0.json
C1E110_4_2.json
C2E003_4_1.json
C1E049_4_0.json
C1E052_4_0.json
C2E029_4_2.json
C1E010_4_2.json
C1E093_4_1.json
C1E094_4_3.json
C2E042_4_2.json
C2E028_4_3.json
C2E029_4_1.json
C2E031_4_3.json
C1E042_4_2.json
C1E008_4_2.json
C1E052_4_0.json
C1E102_4_1.json
C2E020_4_0.json
C1E094_4_2.json
C1E056_4_2.json
C2E003_4_1.json
C2E029_4_3.json
C1E093_4_0.json
C1E036_4_3.json
C2E029_4_1.json
C2E007_4_0.json
C1E091_4_0.json
C1E112_4_1.json
C1E031_4_0.json
C2E035_4_0.json
C2E044_4_3.json
C2E004_4_3.json
C2E042_4_0.json
C2E006_4_0.json
C1E073_4_1.json
C1E050_4_2.json
C1E075_4_3.json
C1E027_4_0.json
C1E088_4_1.json
(131185, 1)

                                                   0
0  Hello, everyone, and welcome to Critical Role,...
1                              False start, offense.
2  It's great. But yes, welcome. We have just a c...
3                          Mine's really long, Matt.
4  Okay, Sam's is really long. Speaking of which,...

In [10]:
cv = TfidfVectorizer(stop_words={'english'}, 
    max_df=0.001,
    min_df=0.00001,
    # norm='l1',
    )
doc_vec = cv.fit_transform(df[0])
doc_vec.shape

(131185, 15917)

In [157]:
cv = CountVectorizer(stop_words={'english'}, 
    max_df=0.005,
    min_df=0.0001,
    # norm='l1',
    )
doc_vec = cv.fit_transform(df[0])
doc_vec.shape

(10242, 4587)

In [11]:
tf_df = pd.DataFrame(doc_vec.toarray().transpose(),
                   index=cv.get_feature_names())
print(tf_df.shape)
tf_df.tail()

(15917, 131185)

/home/patrick/anaconda3/envs/metis/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,0,1,2,3,4,5,6,7,8,9,...,131175,131176,131177,131178,131179,131180,131181,131182,131183,131184
zooming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zooms,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zoran,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zorro,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zwei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [164]:
n_components = 50
nmf_5 = NMF(n_components=n_components)
topics = nmf_5.fit_transform(tf_df)

/home/patrick/anaconda3/envs/metis/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

In [12]:
n_components = 5
pca = PCA(n_components=n_components)
topics = pca.fit_transform(tf_df)

:

:

In [126]:
n_components = 10
nmf_5 = NMF(n_components=n_components)
topics = nmf_5.fit_transform(doc_vec)

/home/patrick/anaconda3/envs/metis/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

In [ ]:
def get_top_terms(topic, n_terms, topics=topics, terms=cv.get_feature_names_out()):
    # get the topic components (i.e., term weights)
    # components = nmf.components_[topic, :]
    components = topics[:,topic]

    # get term indices, sorted (descending) by topic weights
    top_term_indices = components.argsort()[-n_terms:]
    
    # use the `terms` array to get the actual top terms
    top_terms = np.array(terms)[top_term_indices]
    
    return top_terms.tolist()

for x in range(n_components):
    print(get_top_terms(x,10))

['13', 'eight', 'rolled', '12', '14', 'yep', '18', '17', '16', '19']
['says', 'constitution', 'wisdom', '23', '25', 'correct', 'die', 'stay', 'nope', 'yep']
['thought', 'fjord', 'constitution', '22', 'nott', 'righty', 'eight', '17', '14', '16']
['rolled', 'nine', 'eight', '11', 'seven', '13', '12', '14', '17', '18']
['nine', 'level', '25', 'stay', '24', 'seven', 'perception', 'rolled', '16', '18']
['rolled', 'ooh', '11', 'perception', '21', 'seven', 'eight', '13', '12', '14']
['disadvantage', 'passive', 'nine', 'investigation', 'frumpkin', 'ooh', 'rolled', '30', '13', 'perception']
['vex', 'name', 'damn', 'talking', 'never', 'wow', 'perception', '13', 'love', 'true']
['22', '23', 'seven', 'nine', '21', 'ooh', 'eight', '13', '11', '12']
['nope', 'vex', 'wow', 'seven', 'nine', 'awesome', '24', 'ooh', '11', '13']
['nott', 'rolled', '25', 'seven', '30', 'eight', 'wow', '11', '21', 'ooh']
['plan', 'amazing', 'went', 'hey', 'idea', 'kill', '13', 'ooh', '12', 'wow']
['disadvantage', '30', 'nine', 'correct', '21', 'kill', 'eight', 'seven', 'wow', '11']
['course', 'gonna', 'nine', 'disadvantage', '22', 'seven', '13', 'wow', 'kill', '21']
['talk', '24', 'vex', 'eight', 'nope', 'stay', '11', 'hey', 'ooh', 'kill']
['talk', 'gonna', 'thought', '13', 'nott', '12', '21', '11', 'love', 'hey']
['nott', '24', 'righty', '22', '23', 'love', 'nine', 'seven', 'hey', 'eight']
['awesome', 'never', '22', 'stay', 'thought', 'disadvantage', '30', '25', '24', 'love']
['idea', 'movement', 'righty', 'nott', 'damn', 'hey', '22', '24', '30', '25']
['dead', 'vex', 'damn', '12', 'level', 'righty', 'rolled', 'talk', '24', 'seven']

In [147]:
tf_df.index

Index(['00', '10', '100', '10d6', '11', '12', '120', '127', '13', '1350',
       ...
       'yup', 'zanror', 'zenith', 'zenwick', 'zephra', 'zero', 'zombie',
       'zone', 'zoomf', 'zopher'],
      dtype='object', length=4587)

In [23]:
cv.get_feature_names_out().shape

(6849,)

In [146]:
nmf_5.components_

(10, 10242)

In [151]:
topics.shape

(4587, 10)

In [27]:
tf_df.shape

(6849, 7310)