In [2]:
import json
import os
import random
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import PCA
from sklearn.decomposition import NMF

In [65]:
dir = 'data/aligned data/c=4'
choice = random.choice(os.listdir(dir))
print(choice)
f = open(dir+'/'+choice)
data = json.load(f)

C2E032_4_3.json

In [66]:
print(data[0].keys())
print(data[5]['TURNS'][0].keys())
# print(data[5]['TURNS'][0]['UTTERANCES'])
# print(' '.join(data[5]['TURNS'][0]['UTTERANCES']))

dict_keys(['CHUNK', 'ALIGNMENT', 'TURNS'])
dict_keys(['NAMES', 'UTTERANCES', 'NUMBER'])

In [67]:
def create_df(data=data):
    list_of_text = []
    for x in data:
        for y in x['TURNS']:
            text = ' '.join(y['UTTERANCES'])
            list_of_text.append(text)
    df = pd.DataFrame(list_of_text)
    return df
df = create_df(data=data)
print(df.shape)
df.head()

(2612, 1)

                                                   0
0  Hello everyone, and welcome to tonight's episo...
1                                 That's what we do!
2                         What's Dungeons & Dragons?
3  You will find out, Liam. He who ran it earlier...
4                                   The Bonegrinder.

In [124]:
def create_df_multi(n):
    list_of_text = []
    dir = 'data/aligned data/c=4'

    for i in range(n):
        choice = random.choice(os.listdir(dir))
        print(choice)
        f = open(dir+'/'+choice)
        data = json.load(f)
        choice = random.choice(os.listdir(dir))
        print(choice)
        f = open(dir+'/'+choice)
        data = json.load(f)

        for x in data:
            for y in x['TURNS']:
                text = ' '.join(y['UTTERANCES'])
                list_of_text.append(text)
    df = pd.DataFrame(list_of_text)
    return df
df = create_df_multi(5)
print(df.shape)
df.head()

C1E035_4_3.json
C1E052_4_1.json
C1E011_4_0.json
C1E013_4_2.json
C2E046_4_1.json
C1E104_4_2.json
C1E061_4_3.json
C1E095_4_1.json
C1E064_4_2.json
C1E109_4_0.json
(10242, 1)

                                                   0
0  Hello, and good evening everyone, to tonight's...
1              Me and Marisha have been Loot Crate--
2                  --purveyors for like three years.
3  But they've been awesome enough and interested...
4                           Leeloo Dallas Multipass!

In [170]:
cv = TfidfVectorizer(stop_words={'english'}, 
    max_df=0.005,
    min_df=0.00001,
    # norm='l1',
    )
doc_vec = cv.fit_transform(df[0])
doc_vec.shape

(10242, 8116)

In [157]:
cv = CountVectorizer(stop_words={'english'}, 
    max_df=0.005,
    min_df=0.0001,
    # norm='l1',
    )
doc_vec = cv.fit_transform(df[0])
doc_vec.shape

(10242, 4587)

In [171]:
tf_df = pd.DataFrame(doc_vec.toarray().transpose(),
                   index=cv.get_feature_names())
print(tf_df.shape)
tf_df.tail()

(8116, 10242)

/home/patrick/anaconda3/envs/metis/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,0,1,2,3,4,5,6,7,8,9,...,10232,10233,10234,10235,10236,10237,10238,10239,10240,10241
zoning,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zoomf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zooming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zopher,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zorro,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [164]:
n_components = 50
nmf_5 = NMF(n_components=n_components)
topics = nmf_5.fit_transform(tf_df)

/home/patrick/anaconda3/envs/metis/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

In [172]:
n_components = 20
pca = PCA(n_components=n_components)
topics = pca.fit_transform(tf_df)

In [126]:
n_components = 10
nmf_5 = NMF(n_components=n_components)
topics = nmf_5.fit_transform(doc_vec)

/home/patrick/anaconda3/envs/metis/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

In [173]:
def get_top_terms(topic, n_terms, nmf=nmf_5, topics=topics, terms=cv.get_feature_names_out()):
    # get the topic components (i.e., term weights)
    # components = nmf.components_[topic, :]
    components = topics[:,topic]

    # get term indices, sorted (descending) by topic weights
    top_term_indices = components.argsort()[-n_terms:]
    
    # use the `terms` array to get the actual top terms
    top_terms = np.array(terms)[top_term_indices]
    
    return top_terms.tolist()

for x in range(n_components):
    print(get_top_terms(x,10))

['here', 'll', 'was', 'get', 'they', 'did', 'know', 'don', 'yes', 'no']
['know', 'she', 'like', 'was', 'my', 'well', 'they', 'laughter', 'did', 'yes']
['my', 'want', 'if', 'like', 'here', 'll', 'they', 'get', 'don', 'know']
['care', 'trust', 'worry', 'vecna', 'why', 'how', 'yes', 'no', 'don', 'know']
['die', 'use', 'gosh', 'turn', 'know', 'fuck', 'laughter', 'thank', 'my', 'god']
['why', 'know', 'me', 'laughter', 'get', 'say', 'how', 'my', 'god', 'did']
['like', 'thing', 'know', 'really', 'well', 'she', 'was', 'laughter', 'did', 'good']
['20', 'she', 'does', 'they', 'well', 'sorry', 'shit', 'like', 'was', 'laughter']
['good', 'did', 'points', 'want', 'an', 'ahead', 'damage', 'roll', 'make', 'check']
['roll', 'know', 'let', 'good', 'here', 'make', 'check', 'get', 'll', 'laughter']
['think', 'us', 'sure', 'them', 'if', 'good', 'laughter', 'don', 'get', 'want']
['say', 'if', 'don', 'fine', 'like', 'take', 'let', 'me', 'well', 'll']
['them', 'take', 'good', 'say', 'fine', 'did', 'think', 'don', 'll', 'they']
['who', 'an', 'thank', 'see', 'perception', 'like', 'they', 'me', 'make', 'check']
['good', 'roll', 'here', 'think', 'natural', 'get', '20', 'let', 'me', 'don']
['know', 'were', 'want', 'them', 'really', 'thank', 'me', 'let', 'well', 'they']
['me', 'guys', 'get', 'amazing', 'know', '20', 'thank', 'll', 'want', 'was']
['her', 'want', 'points', 'take', 'laughter', 'damage', 'how', '20', 'pike', 'here']
['20', 'much', 'shit', 'guys', 'roll', 'really', 'don', 'thank', 'well', 'here']
['damage', 'hit', 'much', 'guys', 'they', 'would', 'me', 'how', 'like', 'thank']

In [147]:
tf_df.index

Index(['00', '10', '100', '10d6', '11', '12', '120', '127', '13', '1350',
       ...
       'yup', 'zanror', 'zenith', 'zenwick', 'zephra', 'zero', 'zombie',
       'zone', 'zoomf', 'zopher'],
      dtype='object', length=4587)

In [23]:
cv.get_feature_names_out().shape

(6849,)

In [146]:
nmf_5.components_

(10, 10242)

In [151]:
topics.shape

(4587, 10)

In [27]:
tf_df.shape

(6849, 7310)